h2{
    padding-top: 10px;
    padding-right: 25%;
     margin: -62px;
     float: right;
     align-items: center;
     color: rgb(7, 7, 7);
 }  
 
  .para1{
     color: black;
     width: 720px;
     float: right; 
  }   